github "Sage-Bionetworks/SageResearch" "mPower2-v2"
github "Sage-Bionetworks/BridgeApp-Apple-SDK" "mPower2-v2"
github "Sage-Bionetworks/MotorControl-iOS" "mPower2-v2"
github "Sage-Bionetworks/CardiorespiratoryFitness-iOS" "mPower2-v2"
